﻿@if (Request.IsAuthenticated)
{
    <li>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, 
            htmlAttributes: new { @class = "navbar-rigth username", title = "Perfil" })
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { @class = "navbar-form navbar-right", id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a class="form-control" href="javascript:document.getElementById('logoutForm').submit()">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
    }
}
else
{
    /*
    @model Health.Models.LoginModel

        <div class="form-inline">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "input-small", placeholder = "Usuario" })
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "input-small", placeholder = "Contraseña" })
                @Html.ValidationMessageFor(m => m.Password)

                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox", value = "Recordar?" })
                </label>
                <button type="submit" class="btn btn-default" >Iniciar</button>
            }

        </div>
     */

    <li>@Html.ActionLink("Iniciar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
