﻿<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
    <p>
        Con esta aplicación web pretendemos demostrar que hemos incursionado someramente en la web utilizando ASP.NET.
    </p>
    <p>
        Mediante la cual hemos utilizado tecnologías como el Entity Framework, el MVC de ASP.NET con Razor y el almacenamiento en base de datos de archivos locales de Microsoft SQL.
    </p>
    <p>
        Además se han refrescado muchos de los conceptos y tecnologías de la Web que se sustentan en las librerías y marcos de trabajo: jQuery, bootstrap, etc.
    </p>
</article>

<aside>
    <h3>Información adicional</h3>
    <p>
        Nos especializamos además en la programación de aplicaciones:
    </p>
    <ul>
        <li>para escritorio en SO Windows y Linux,</li>
        <li>para dispositivos móbiles en Android y iOS,</li>
        <li>multimedias multiplataforma (Linux, Windows, Android, iOS, HTML)</li>
    </ul>
</aside>