﻿<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <p>
        <span class="display-label">Casa:</span>
        <span>+53 24 426718</span>
    </p>
    <p>
        <span class="display-label">Trabajo:</span>
        <span>+53 24 481273</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="display-label">Soporte:</span>
        <span><a href="mailto:gcubar2003@yahoo.es">gcubar2003@yahoo.es</a></span>
    </p>
    <p>
        <span class="display-label">Personal:</span>
        <span><a href="mailto:gcubar2005@gmail.com">gcubar2005@gmail.com</a></span>
    </p>
    <p>
        <span class="display-label">Centro de trabajo estatal:</span>
        <span><a href="mailto:gilberto.cuba@ucp.ho.rimed.cu">gilberto.cuba@ucp.ho.rimed.cu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dirección postal</h3>
    </header>
    <p>
        Calle 24 # 18 % 13 y Río.<br />
        Reparto 26 de Julio.<br />
        Holguín. Holguín.<br />
        Cuba<br />
    </p>
</section>
