﻿<hgroup class="title">
    <h1>La Salud Pública</h1>
</hgroup>

<ol class="round">
    <li class="one">
        <h5>Concepto</h5>
        La salud pública es la disciplina encargada de la protección de la salud a 
        nivel poblacional. Tiene como objetivo mejorar la salud de la población, así 
        como el control y la erradicación de las enfermedades. Es una ciencia de carácter 
        multidisciplinario, ya que utiliza los conocimientos de otras ramas del conocimiento 
        como las ciencias Biológicas, Conductuales, Sanitarias y Sociales. Es uno de los 
        pilares en la formación de todo profesional de la salud. 
        <a href="http://es.wikipedia.com/Salud_publica?...">Leer más…</a>
    </li>

    <li class="two">
        <h5>Protección sanitaria</h5>
        Son actividades de salud pública dirigidas al control sanitario del medio ambiente 
        en su sentido más amplio, con el control de la contaminación del suelo, agua, aire, 
        de los alimentos y recursos. Además se incluye la seguridad social que detectan factores 
        de riesgo para la población y elaborar programas de salud para la sociedad. Dar alternativas 
        de solución a enfermedades que implican a cualquier población.
        <a href="http://es.wikipedia.com/?...">Leer más…</a>
    </li>

    <li class="three">
        <h5>Restauración sanitaria</h5>
        Consiste en todas las actividades que se realizan para recuperar la salud en caso de su 
        pérdida, que son responsabilidad de los servicios de asistencia sanitaria que despliegan sus 
        actividades en dos niveles: atención primaria y atención hospitalaria.
        <a href="http://es.wikipedia.com/?...">Leer más…</a>
    </li>
</ol>
