﻿@model Health.ViewModels.DoctorViewModel

@{
    ViewBag.Title = "Detalles del doctor";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Editar", "Edit", new { id = Model.Doctor.DoctorID })</li>
            <li>@Html.ActionLink("Eliminar", "Delete", new { id = Model.Doctor.DoctorID })</li>
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(vm => vm.Doctor.Name)</dt>
        <dd>@Html.DisplayFor(vm => vm.Doctor.Name)</dd>

        <dt>@Html.DisplayNameFor(vm => vm.Doctor.LastName)</dt>
        <dd>@Html.DisplayFor(vm => vm.Doctor.LastName)</dd>

        <dt>Hospital</dt>
        <dd>@Html.DisplayFor(vm => vm.Doctor.Hospital.Name)</dd>
    </dl>

    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(vm => vm.Doctor.Turns)</dt>
                <dd>@Html.DisplayFor(vm => vm.Doctor.Turns.Count)</dd>
            </dl>
            @if (Model.Doctor.Turns.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Fecha</th>
                        </tr>
                        @foreach (var item in Model.Doctor.Turns)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TurnDate)</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
        <div class="col-md-5 col-md-offset-2">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(vm => vm.Doctor.Consults)</dt>
                <dd>@Html.DisplayFor(vm => vm.Doctor.Consults.Count)</dd>
            </dl>
            @if (Model.Doctor.Consults.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre paciente</th>
                        </tr>
                        @foreach (var item in Model.Doctor.Consults)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ConsultDateTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.Pacient.Name) @Html.DisplayFor(modelItem => item.Pacient.LastName)</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(vm => vm.Pacients)</dt>
        <dd>@Model.Pacients.Count</dd>
        @if (Model.Pacients.Count > 0)
        {
            <dd>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                        </tr>
                        @foreach (var item in Model.Pacients)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            </tr>
                        }
                    </table>
                </div>
            </dd>
        }
    </dl>
</div>
