﻿@model IEnumerable<Health.Models.Doctor>

@{
    ViewBag.Title = "Doctores";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Agregar nuevo doctor", "Create")</li>
        </ul>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Hospital)</th>
                <th>@Html.DisplayNameFor(model => model.Consults)</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hospital.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Consults.Count)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.DoctorID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.DoctorID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.DoctorID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
