﻿@model Health.Models.Hospital

@{
    ViewBag.Title = "Detalles del Hospital";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Editar", "Edit", new { id = Model.HospitalID })</li>
            <li>@Html.ActionLink("Eliminar", "Delete", new { id = Model.HospitalID })</li>
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <!--
        <dt>@Html.DisplayNameFor(model => model.Turns)</dt>
        <dd>@Html.DisplayFor(model => model.Turns.Count)</dd>

        <dt>@Html.DisplayNameFor(model => model.Consults)</dt>
        <dd>@Html.DisplayFor(model => model.Consults.Count)</dd>
        -->
        <dt>@Html.DisplayNameFor(model => model.Doctors)</dt>
        <dd>@Html.DisplayFor(model => model.Doctors.Count)</dd>
        @if (Model.Doctors.Count > 0)
        {
            <dd>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Consultas</th>
                        </tr>
                        @foreach (var item in Model.Doctors)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Consults.Count)</td>
                            </tr>
                        }
                    </table>
                </div>
            </dd>
        }
        <dt>@Html.DisplayNameFor(model => model.Nurses)</dt>
        <dd>@Html.DisplayFor(model => model.Nurses.Count)</dd>
        @if (Model.Nurses.Count > 0)
        {
            <dd>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                        </tr>
                        @foreach (var item in Model.Nurses)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            </tr>
                        }
                    </table>
                </div>
            </dd>
        }
    </dl>
</div>
