﻿@model Health.Models.Nurse

@{
    ViewBag.Title = "Detalles de la enfermera";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Editar", "Edit", new { id = Model.NurseID })</li>
            <li>@Html.ActionLink("Eliminar", "Delete", new { id = Model.NurseID })</li>
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Hospital)</dt>
        <dd>@Html.DisplayFor(model => model.Hospital.Name)</dd>
    </dl>
</div>
