﻿@model Health.Models.Pacient

@{
    ViewBag.Title = "Detales del paciente";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Editar", "Edit", new { id = Model.PacientID })</li>
            <li>@Html.ActionLink("Eliminar", "Delete", new { id = Model.PacientID })</li>
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Consults)</dt>
        <dd>@Html.DisplayFor(model => model.Consults.Count)</dd>
        @if (Model.Consults.Count > 0)
        {
            <dd>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Fecha</th>
                            <th>Doctor</th>
                            <th>Hospital</th>
                        </tr>
                        @foreach (var item in Model.Consults)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ConsultDateTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.Doctor.Name) @Html.DisplayFor(modelItem => item.Doctor.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Doctor.Hospital.Name)</td>
                            </tr>
                        }
                    </table>
                </div>
            </dd>
        }
    </dl>
</div>
