﻿@model Health.Models.Consult

@{
    ViewBag.Title = "Detalles de la consulta";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Editar", "Edit", new { id = Model.ConsultID })</li>
            <li>@Html.ActionLink("Eliminar", "Delete", new { id = Model.ConsultID })</li>
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ConsultDateTime)</dt>
        <dd>@Html.DisplayFor(model => model.ConsultDateTime)</dd>

        <dt>Paciente</dt>
        <dd>@Html.DisplayFor(model => model.Pacient.Name) @Html.DisplayFor(model => model.Pacient.LastName)</dd>

        <dt>Doctor</dt>
        <dd>@Html.DisplayFor(model => model.Doctor.Name) @Html.DisplayFor(model => model.Doctor.LastName)</dd>
    </dl>
</div>
