﻿@model IEnumerable<Health.Models.Consult>

@{
    ViewBag.Title = "Consultas";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Agregar nueva consulta", "Create")</li>
        </ul>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ConsultDateTime)</th>
                <th>Paciente</th>
                <th>Doctor</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ConsultDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pacient.Name) @Html.DisplayFor(modelItem => item.Pacient.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Doctor.Name) @Html.DisplayFor(modelItem => item.Doctor.LastName)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ConsultID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ConsultID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ConsultID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
