﻿@model Health.Models.LocalPasswordModel

<h3>Cambio de contraseña</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post,
    htmlAttributes: new { @class = "form-horizontal", role = "form", }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-4">
            <button type="submit" class="btn btn-default">Cambiar contraseña</button>
        </div>
    </div>
}
