﻿@model Health.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión de usuario";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<!--
<h2>Inicie sesión utilizando una cuenta local</h2>
-->
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default">Iniciar sesión</button>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Registrar", "Register") si no tiene una cuenta de usuario.
</p>

<!--
<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
