﻿@model Health.Models.RegisterModel
@{
    ViewBag.Title = "Registrar";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Creación de una nueva cuenta de usuario</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default">Registrar</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
