﻿@model Health.Models.Turn

@{
    ViewBag.Title = "Nuevo turno de guardia";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TurnDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-sm-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker'>
                        <input id="TurnDate" name="TurnDate" type='text' class="form-control" data-date-format="DD/MM/YYYY" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.TurnDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Doctor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DoctorID", String.Empty)
                @Html.ValidationMessageFor(model => model.DoctorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">
        $(function () {
	        $('#datetimepicker').datetimepicker({
		        pickTime: false
	        });
        });
    </script>
}
