﻿@model Health.Models.Turn

@{
    ViewBag.Title = "Eliminar turno de guardia";
    ViewBag.Message = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="navbar navbar-default">
    <div class="navbar-left">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Listado", "Index")</li>
        </ul>
    </div>
</div>

<p class="error">@ViewBag.ErrorMessage</p>
<h3>¿Está seguro que desea eliminar este elemento?</h3>
<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.TurnDate)</dt>
    <dd>@Html.DisplayFor(model => model.TurnDate)</dd>

    <dt>Doctor</dt>
    <dd>@Html.DisplayFor(model => model.Doctor.Name) @Html.DisplayFor(model => model.Doctor.LastName)</dd>

    <dt>Hospital</dt>
    <dd>@Html.DisplayFor(model => model.Doctor.Hospital.Name)</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    </div>
}
